.headerTitle{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:0px;
  margin-top:5px;
  color:orange;
  font-family: Arial, Helvetica, sans-serif;
}


.titleCont{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  height:2rem;
}
.titleCont h1{
  margin:5px;
  font-family: Arial, Helvetica, sans-serif;
}

.PostSumBlock{
  display:flex;
  flex-wrap:wrap ;
  align-items: center;
  justify-content: center;

 
}

.PostBlock{
  display:inline-block;
  flex-grow: 1;
  background-color:grey;
  width:50%;
  height: 10rem;
  border:30px;

}
.PostBlockBI{
  position:relative;
  
}
.postBlockTxt{
  position:absolute;
}
.buttonCont{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;

}
.btn {
  display: inline-block;
  background: rgb(255, 141, 35);
  box-shadow: 3px 3px 8px grey;
  color: #fff;
  border: none;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.fltrBtn{
  display: inline-block;
  background: rgb(145, 145, 145);
  color: #fff;
  border: none;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 10%;
  cursor: pointer;
  text-decoration: none;
  font-size:8px;
  font-family: Arial, Helvetica, sans-serif;
}

.FilterBtnStyle{
  display:flex;
  flex-direction:row;
  justify-content: center;
}